<div class="w-full">
  <!-- Label siempre visible -->
  <label
    *ngIf="label"
    class="block text-[14px] font-prosperoRegular font-normal text-[#212529] mb-1"
    [for]="id">
    {{ label }}
  </label>

  <input
    [id]="id"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled || state === 'deshabilitado'"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    class="w-full h-10 px-2 rounded-md text-[16px] focus:outline-none
      border bg-[#FFFFFF] transition-colors
      disabled:bg-[#F5F5F5] disabled:text-[#A0A0A0] disabled:cursor-not-allowed"
    [ngClass]="{
      'border-[#929292] text-[#727272]': state === 'default',
      'border-[#2698B3] text-[#212529]': state === 'focus',
      'border-[#929292] text-[#212529]': state === 'completado',
      'border-[#A10303] text-[#727272]': state === 'error',
      'border-[#929292] text-[#575757]': state === 'quemado',
      'border-[#E0E0E0] text-[#E0E0E0] placeholder:text-[#E0E0E0]': state === 'deshabilitado'
    }"
  />
</div>
