<div class="mx-auto p-6">
  <div class="flex items-center gap-2 mb-10">
    <a class="text-x1 text-gray-700 hover:text-black"> ← </a>
    <h1 class="font-prospero font-normal text-[40px] text-left leading-[48px]">
      Registro
    </h1>
  </div>
  <div
    class="overflow-y-auto scrollbar-thin scrollbar-thumb-[#a2a2a2] scrollbar-track-[#ededed] rounded-md p-4"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-[656px]">
      <!-- Tipo de identificación + Número de identificación / NIT + DV -->
      <div
        class="grid grid-cols-[136px_24px_496px] items-start gap-0 max-w-[656px]"
      >
        <!-- Tipo -->
        <div>
          <label for="tipoIdentificacion" class="block text-sm font-medium mb-1"
            >Tipo</label
          >
          <select
            formControlName="tipoIdentificacion"
            id="tipoIdentificacion"
            class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200"
          >
            <option value="CC">C.C.</option>
            <option value="NIT">NIT</option>
          </select>
        </div>
        <div></div>

        <div>
          <!-- Cuando es NIT: Numero NIT + DV -->
          <ng-container *ngIf="esNit; else numeroCompleto">
            <div class="grid grid-cols-[1fr-48px] gap-4">
              <app-entrada
                label="Número NIT"
                formControlName="numeroNit"
                [state]="getState('numeroNit')"
              ></app-entrada>

              <app-entrada
                label="DV"
                formControlName="dv"
                maxlength="1"
                [state]="getState('dv')"
              ></app-entrada>
            </div>
          </ng-container>

          <!-- Cuando no es NIT: Número de identificación completo -->
          <ng-template #numeroCompleto>
            <app-entrada
              label="Número de identificación"
              formControlName="numeroIdentificacion"
              [state]="getState('numeroIdentificacion')"
            ></app-entrada>
          </ng-template>
        </div>
      </div>

      <!-- Nombre / Razón social -->
      <app-entrada
        [label]="
          form.get('tipoIdentificacion')?.value === 'NIT'
            ? 'Razón social'
            : 'Nombre'
        "
        formControlName="nombre"
        [state]="getState('nombre')"
      ></app-entrada>

      <!-- Apellidos (solo si no es NIT) -->
      <div *ngIf="!esNit">
        <app-entrada
          label="Apellido(s)"
          formControlName="apellidos"
          [state]="getState('apellidos')"
        ></app-entrada>
      </div>

      <!-- Indicativo + Celular -->
      <div class="mt-6 grid grid-cols-[120px_24px_1fr] items-start">
        <app-entrada
          label="Indicativo"
          placeholder="+57"
          formControlName="indicativo"
          [state]="getState('indicativo')"
        ></app-entrada>

        <app-entrada
          label="Número celular de contacto"
          formControlName="celular"
          [state]="getState('celular')"
        ></app-entrada>
      </div>

      <!-- Correo -->
      <app-entrada
        label="Correo electrónico"
        formControlName="correo"
        [state]="getState('correo')"
      ></app-entrada>

      <!-- Contraseña + Confirmar contraseña -->
      <app-entrada
        label="Contraseña"
        placeholder="********"
        type="password"
        formControlName="password"
        [state]="getState('password')"
      ></app-entrada>

      <app-entrada
        label="Confirmar contraseña"
        placeholder="********"
        type="password"
        formControlName="confirmarPassword"
        [state]="getState('confirmPassword')"
      ></app-entrada>

      <!-- Reglas de contraseña -->
      <div class="max-w-[656px]">
        <p class="font-medium mb-2">La contraseña debe contener:</p>
        <div class="space-y-2">
          <p
            [class.text-red-600]="!passwordRules.longitud"
            [class.text-green-600]="passwordRules.longitud"
          >
            {{ passwordRules.longitud ? "✓" : "✗" }} Longitud entre 8 y 16
            caracteres.
          </p>
          <p
            [class.text-red-600]="!passwordRules.mayuscula"
            [class.text-green-600]="passwordRules.mayuscula"
          >
            {{ passwordRules.mayuscula ? "✓" : "✗" }} Una letra mayúscula (A–Z).
          </p>
          <p
            [class.text-red-600]="!passwordRules.minuscula"
            [class.text-green-600]="passwordRules.minuscula"
          >
            {{ passwordRules.minuscula ? "✓" : "✗" }} Una letra minúscula (a–z).
          </p>
          <p
            [class.text-red-600]="!passwordRules.numero"
            [class.text-green-600]="passwordRules.numero"
          >
            {{ passwordRules.numero ? "✓" : "✗" }} Un número (0–9).
          </p>
          <p
            [class.text-red-600]="!passwordRules.especial"
            [class.text-green-600]="passwordRules.especial"
          >
            {{ passwordRules.especial ? "✓" : "✗" }} Un carácter especial
            (&#64;, #, $, %, &, *, +, -).
          </p>
          <p
            [class.text-red-600]="!passwordRules.noInicial"
            [class.text-green-600]="passwordRules.noInicial"
          >
            {{ passwordRules.noInicial ? "✓" : "✗" }} Sin espacios al principio
            ni al final.
          </p>
        </div>
      </div>

      <!-- Checkboxes -->
      <div class="max-w-[656px] space-y-4">
        <div class="flex items-start space-x-2">
          <input
            type="checkbox"
            id="terminos"
            formControlName="terminos"
            class="mt-1"
          />
          <label for="terminos" class="text-sm">
            Acepto los
            <a href="#" class="text-blue-600 underline"
              >Términos y Condiciones</a
            >.
          </label>
        </div>

        <div class="flex items-start space-x-1 pt-2 pb-2">
          <input
            type="checkbox"
            id="politica"
            formControlName="politica"
            class="mt-1"
          />
          <label for="politica" class="text-sm">
            Autorizo el tratamiento de mis datos personales en la
            <a href="#" class="text-blue-600 underline"
              >Política de tratamiento de datos</a
            >
          </label>
        </div>
      </div>

      <!-- Botón -->
      <button
        class="w-[328px] h-[48px] rounded-md bg-[#212529] text-[#FFFFFF] text-[16px] font-medium px-6 py-2 hover:bg-[#3B4350] disabled:bg-[#E0E0E0] disabled:text-[#E0E0E0] transition-colors duration-200"
      >
        Registrarme
      </button>
    </form>
  </div>
</div>
